/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.hero-container {
  width: 100%;
  min-height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  background-image: url("../../images/abstract-banner.jpg");
  background-size: cover;
  background-position: center;
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}

.hero-title-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 26vh;
  padding: 1rem;
}

.hero-logo {
  width: 8vw;
}

.hero-title-container > h1 {
  width: 100%;
  font-size: 4vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  letter-spacing: 0.9rem;
}

.hero-title-container > h2 {
  width: 100%;
  font-size: 2vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  letter-spacing: 0.9rem;
}

.welcome-msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 4vw;
  padding: 1rem;
  margin-top: 20vh;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  opacity: 0;
  -webkit-transform: translateY(4rem);
  -ms-transform: translateY(4rem);
  transform: translateY(4rem);
  -webkit-transition: opacity 0.3s 0.25s ease-out, -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: opacity 0.3s 0.25s ease-out, -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  -o-transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out,
    -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  will-change: transform, opacity;
}

.welcome-msg.is-visible {
  opacity: 1;
  -webkit-transform: translateY(-4rem);
  -ms-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

.welcome-msg > img {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  margin-bottom: -2vh;
  z-index: 2;
  border: 2px solid white;
}

.welcome-msg > h3 {
  background-color: white;
  color: black;
  padding: 1.5rem;
  font-size: 1vw;
  margin: 0 2vw;
  border-radius: 4px;
}

.welcome-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.welcome-social-link {
  font-size: 3vw;
  margin: 2vh 0 0 1.5vw;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: rgba(255, 255, 255, 0.9);
}

.welcome-social-link:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
  .hero-logo {
    width: 10vw;
  }
  .hero-title-container > h1 {
    font-size: 6vw;
  }
  .hero-title-container > h2 {
    font-size: 4vw;
  }
  .welcome-msg > h3 {
    font-size: 1.5vw;
  }
  .welcome-social-link {
    font-size: 5vw;
    padding: 2vw 2vw 2vw 0;
  }
}

@media screen and (max-width: 700px) {
  .welcome-msg > h3 {
    padding: 1.5rem;
    font-size: 2.5vw;
  }
  .welcome-social-link {
    font-size: 10vw;
  }
}
