.about-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
}

.about-attributes-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  opacity: 0;
  transform: translateY(4rem);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
  will-change: transform, opacity;
}

.about-attributes-container.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.about-attributes-container > h2 {
  width: 100%;
  text-align: center;
  padding: 6rem 2rem 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: #4e5056;
  letter-spacing: 0.8rem;
}

.attribute > h3 {
  color: #4e5056;
}

.attribute {
  width: 60rem;
  font-size: 1.4rem;
  padding: 2rem;
  color: #7d818e;
}

.personal > span {
  text-decoration: line-through;
}

.about-container > img {
  width: 60vw;
  padding: 0;

  opacity: 0;
  transform: translateY(4rem);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
  will-change: transform, opacity;
}

.about-container > img.is-visible {
  opacity: 0.7;
  transform: translateY(0);
}
