.hero-container {
  width: 100%;
  height: max-content;
  overflow: hidden;
  position: relative;
}

.hero-container > img {
  filter: brightness(80%);
}

.hero-container > h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  color: rgba(255, 255, 255, 0.8);
  font-size: 4vw;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

.hero-container > h2 {
  position: absolute;
  top: 47%;
  left: 50%;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5vw;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

.hero-logo {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 7%;
  transform: translate(-50%, -50%);
}

.welcome-msg {
  height: 10vh;
  width: 30vw;
  position: absolute;
  top: 65%;
  left: 7%;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.1vw;
}

.welcome-social-links {
  display: flex;
}

.welcome-social-link {
  font-size: 2.5vw;
  padding: 2rem 2rem 2rem 0;
  cursor: pointer;
  transition: 0.2s;
  color: rgba(255, 255, 255, 0.8);
}

.welcome-social-link:hover {
  transform: scale(1.1);
}
