.page-top-link {
  color: rgba(0, 0, 0, 1);
}

.page-top-icon {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 5rem;
  z-index: 100;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.page-top-icon:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
