@import "reset.css";
@import "./components/navbar.css";
@import "./components/menu-overlay.css";
@import "./components/hero.css";
@import "./components/animations.css";
@import "./components/about.css";
@import "./components/scrollbar.css";
@import "./components/loader-page.css";
@import "./components/projects.css";
@import "./components/page-top-btn.css";

.main-container {
  display: none;
  position: relative;
  height: auto;
  background-color: rgba(0, 33, 41, 0.92);
}
